:root {
   --primary-color: #42567a;
   --secondary-color: #3877ee;
   --accent-color: #ef5da8;
   --primary-color-10: rgba(66, 86, 122, 0.1);
   --primary-color-20: rgba(66, 86, 122, 0.2);
   --primary-color-40: rgba(66, 86, 122, 0.4);
   --primary-color-50: rgba(66, 86, 122, 0.5);
   --white-color: #f4f5f9;
   --grey-color: #c7cdd9;
}
